body{
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
  background-repeat:no-repeat;
}
nav .loginImage{
  width: 36px;
  height: 36px;
}
nav .brand,nav .nav-item a{
  font-family: "Unbounded", cursive;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
}
.list-title {
  text-transform: uppercase;
}
input + p {
  font-family: "Unbounded", cursive;
  font-size: 21px;
}
.list_Text{
  font-family: "Unbounded", cursive;
  font-weight: 300;
  letter-spacing: 1px;
}
.delete_button{
  border: none;
}